body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    align-items: center;
    max-width: 100vw;
    image-rendering: pixelated;
}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw; 
height: 100vh;
background-image: url(homebg.png);
background-size: 100%;
display: flex;
justify-content: center;
align-items: center;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}

.headercontainer {

padding: 12px;
text-align: center;
margin: auto;
z-index: 5;
position: absolute;
top: 0;
left: 30.6%;
}

.headercontainer2 {

padding: 12px;
text-align: center;
margin: auto;
z-index: 5;
position: relative;

}

.header {
font-family: 'AnalogueOS';
font-size: 96px;
color: #da1c44;
transform: translateX(-5%);
text-shadow: -5px 0px black;
}

.beta {
    font-family: 'Gothamono';
    font-size: 18px;
}

.menucontainer {
width: 470px;
height: 290px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: relative;
left: 13.5%;
top: 9.25%;
gap: 40px;


}

.menu {
padding: 7px 5px;
font-family: 'AnalogueOS';
font-size: 32px;
color: white; 
background-color: #da1c44;
width: 50%;
/**/
box-shadow: 4px 0px black inset;

}

a{
text-decoration: none;
color: white;
}

.menu:hover {
animation: pulse 1s infinite alternate linear;
cursor: pointer;
}


@keyframes pulse {  

    0% {
        transform: scale(1);
        background-color: black;
        
        box-shadow: 4px 0px #da1c44 inset;
    }
    100% {
        transform: scale(1.25);
        background-color: black;
        
        box-shadow: 4px 0px #da1c44 inset;
    }
}

.logocontainer {
width: 380px;
height: 260px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: white;
position: relative;
left: -20.25%;
top: 9%;
gap: 40px;
z-index: 2;
}

.logo {

width: 500px;
height: 500px;
background-image: url(crunchitlogo.png);
background-size: 100%;
animation: flicker 1s infinite alternate ease-in-out forwards;
transform: scale(1.25);
cursor: pointer;

}

@keyframes flicker {  

    0% { 
        visibility: visible;
       
    }

    

    80% {
        visibility: visible;
    }

    90% {
        visibility: hidden;
    }
    
  

    100% {
        visibility: hidden;
    }
}


