body {
    margin: 0;
    box-sizing: border-box; 
    overflow: hidden;
    image-rendering: pixelated;
    background-image: url(img/pianobackground.png);
    background-size: 100%;
}

canvas {
    width: 100vw;
    height: 100vh;
}

.dialoguecontainer {

width: 100vw;
height: 100vh;
}

.dialogue {
width: 600px;
height: 200px;
background-color: white;
position: absolute; 
top: 4%;
right: 22%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
visibility: hidden; 
}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.header {
background-color: #da1c44;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;
padding-left: 40px;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
padding: 20px;
font-family: "jgs7";
font-size: 18px;
text-align: justify;
}

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bigray {
width: 210px;
height: 485px;
background-image: url(../sprites/bigray1.png);
background-size: 100%;
position: absolute;
bottom: 5%;
right: 5%;
}

.dialogue2 {
width: 600px;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 30%;
left: 15%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header2 {
background-color: #f44200;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;
padding-left: 40px;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body2 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
padding: 20px;
font-family: "jgs7";
font-size: 18px;
text-align: justify;
}

.dialogue3 {
width: 600px;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 55%;
right: 25%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header3 {
background-color: #fa9202;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;
padding-left: 40px;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body3 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
padding: 20px;
font-family: "jgs7";
font-size: 18px;
text-align: justify;
}

.dialogue4 {
width: 600px;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 4%;
left: 4%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header4 {
background-color: #da1c44;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;
padding-left: 40px;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body4 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
padding: 20px;
font-family: "jgs7";
font-size: 18px;
text-align: justify;
}

.dialogue5 {
width: 40%;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 30%;
left: 15%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header5 {
background-color: #26de67;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;

padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body5 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
}

.dialogue6 {
width: 40%;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 50%;
right: 15%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header6 {
background-color: #005b11;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-start;
color: white;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body6 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
}

.dialogue7 {
width: 40%;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 4%;
right: 22%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header7 {
background-color: #7ec4ef;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;

padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body7 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
}

.dialogue8 {
width: 40%;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 30%;
left: 15%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header8 {
background-color: #241d75;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-end;
color: white;
padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body8 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
}

.dialogue9 {
width: 40%;
height: 200px;
visibility: hidden; 
background-color: white;
position: absolute; 
top: 50%;
right: 15%;
display: flex;
flex-direction: column;
align-items: center;
gap: 0;
}

.header9 {
background-color: #a59dff;
width: 100%;
height: 27px;
border: 5px solid black;
text-align: right;
display: flex;
align-items: center;
justify-content: flex-start;

padding-top: 5px;
padding-bottom: 4px;
font-family: 'AnalogueOS'; 
font-size: 38px;
}

.body9 {
background-color: white;
border: 5px solid black;
border-top: none;
width: 100%;
height: 165px;
}

.button1 {
background-color: transparent;
border: none;
font-family: "AnalogueOS"; 
font-size: 38px;
padding: 0px;
cursor: pointer;
}

.button2 {
background-color: transparent;
border: none;
font-family: "AnalogueOS"; 
font-size: 38px;
padding: 0px;
cursor: pointer;
}

.button3 {
background-color: transparent;
border: none;
font-family: "AnalogueOS"; 
font-size: 38px;
padding: 0px;
cursor: pointer;
}

.button4 {
background-color: transparent;
border: none;
font-family: "AnalogueOS"; 
font-size: 38px;
padding: 0px;
cursor: pointer;
}

.next {

font-family: "AnalogueOS";
font-size: 32px;
color: black;
background-color: #da1c44;
padding: 10px 20px;
text-align: center;
position: absolute;
top: 40px;
left: 60px;
width: 100px;
border: 5px solid black;
}

.next:hover {
background-color: black;
cursor: pointer;    
border: 5px solid #da1c44;
color: white;

}