body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    align-items: center;
    max-width: 100vw;
    image-rendering: pixelated;
    background-color:  #241d75;
}

canvas {
    width: 600px;
    height: 560px;
    background-color: black;
    background-image: url(img/room.png);

}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw; 
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}

.instructions {
color: #fa9202;
font-family: "jgs7";
font-size: 18px;
text-align: center;
position: absolute;
top: 170px;
visibility: hidden;
}



