body {
    margin: 0;
    box-sizing: border-box; 
    text-align: center;
    overflow: hidden;
    align-items: center;
    max-width: 100vw;
    image-rendering: pixelated;
    background-image: url("img/cookiebg.png");
    background-size: 100%;
}

canvas {
    width: 470px;
    height: 290px;
    border: 6px solid black;
    background-color: white;
}

@font-face {                  
font-family: 'AnalogueOS';
src: url(https://humantooth.neocities.org/fonts/AnalogueOS-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'Gothamono';
src: url(https://humantooth.neocities.org/fonts/Gothamonov0.2-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

@font-face {                  
font-family: 'jgs7';
src: url(https://humantooth.neocities.org/fonts/jgs7.woff) format('woff');
font-weight: normal;
font-style: normal;
} 

.bodycontainer {
width: 100vw; 
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
z-index: 0;
position: absolute;
top: 0;
left: 0;
}


.menucontainer {
width: 940px;
height: 580px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 6px solid black;
position: relative;
}

.menu {
padding: 7px 5px;
font-family: 'AnalogueOS';
font-size: 32px;
color: white; 
background-color: #da1c44;
width: 50%;
/**/
box-shadow: 4px 0px black inset;
}

a{
text-decoration: none;
color: white;
}


.next {

font-family: "AnalogueOS";
font-size: 32px;
color: white;
background-color: #da1c44;
padding: 10px 20px;
text-align: center;
position: absolute;
bottom: 50px;

width: 100px;
border: 5px solid black;
}

.next:hover {
background-color: black;
cursor: pointer;    
border: 5px solid #da1c44;
}